html,body {
	height: 100%;
	background: #e9ebf2;
	overflow: hidden; 
}
[data-dpr="1"] .wrap {
	max-width: 720px;
	margin: 0 auto;
}
header {
	height: 1.41rem;
	background: #2f3060;
	color: #fff;
	font-size: 0.38rem;
	text-align: center;
	line-height: 1.41rem;
}
.content {
	position: absolute;
	top: 1.41rem;
	bottom:0;
	width: 100%;
	overflow-y: auto;
}
.photo-area {
	padding: 0.38rem 0;
	text-align: center;
}
.photo-area img {
	width: 2.19rem;
	height: 3.05rem;
}
.detail {
	padding: 0.7rem 1.17rem;
	padding-right: 0;
	background: #fff;
	border-bottom: dashed 3px #e1e1e9;
}
.detail li {
	position: relative;
	color: #767a89;
	font-size: 0.38rem;
	line-height: 1.8;
	white-space: nowrap;
}
.detail li:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -0.09rem;
	margin-left: -0.31rem;
	width: 0.2rem;
	height: 0.2rem;
	background: #d2d3da;
	border-radius: 50%;
}
.detail li span {
	vertical-align: middle;
}
.detail li .item-name {
	text-align: justify;
}
.detail-remark {
	border-bottom: 0;
}
.detail-remark .item-result {
	font-size: 0.5rem;
	color: #4257a3;
}