$fontBase: 12px;
$blue: #2189bf;
$white: #fff;
$grey: #e2e2e2;
$black: #494949;
$leftColor: #5b697c;
$txtColor: #b7b7b7;
$listColor1: #43b29d;
$listColor2: #398bc2;
$listColor3: #cf4a36;
$listColor4: #e2cd46;

@import "_reset";
@import "_layout";
@import "_header";
@import "_leftbar";
@import "_rightcon";
@import "_button";






